.form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
legend {
    background-color: black;
    color: aliceblue;
    padding: 3px 6px;
}
.required::after {
    content: "*";
    color: red;
}



